html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #efefe9;
  font-family: "Dosis", sans-serif;
  line-height: 0.5;
}

h1 {
  color: #5a2000;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 0;
}

body {
  margin: auto;
  background-color: #efefe9;
}

a {
  color: #fff;
  text-decoration: none;
}

.infoboxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  line-height: 2.0;
}

li {
  border: 1px solid #7a5537;
}

ul :nth-child(1) {
  background-color: #9a816d;
  margin: 3px;
}

ul :nth-child(2) {
  background-color: #9a816d;
  margin: 3px;
}

ul :nth-child(3) {
  background-color: #9a816d;
  margin: 3px;
}

ul :nth-child(4) {
  background-color: #9a816d;
  margin: 3px;
}

li.hover {
  background-color: #fff;
  margin: 3px;
}
